/Zerbitzu/2.EVA/TCP/TCPNumber/nbproject/private/
/Zerbitzu/2.EVA/UDP/1.ExerciseUDP/nbproject/private/
/Zerbitzu/2.EVA/TCP/FourthExercise/nbproject/private/
/Zerbitzu/2.EVA/Multithreading + Server/Pitagoras/nbproject/private/
/Zerbitzu/2.EVA/Multithreading + Server/Pitagoras/build/
/Zerbitzu/2.EVA/Multithreading + Server/Technical_Support/nbproject/private/
/Zerbitzu/2.EVA/Multithreading + Server/Technical_Support/build/
/Zerbitzu/2.EVA/Multithreading + Server/Homosexual/nbproject/private/
/Zerbitzu/2.EVA/Multithreading + Server/Homosexual/build/
