@model NutrinfoWeb.Models.Berria

@{
    ViewData["Title"] = "Index";
}

<h4>Berria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titularra" class="control-label"></label>
                <input asp-for="Titularra" class="form-control" />
                <span asp-validation-for="Titularra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripzioa" class="control-label"></label>
                <input asp-for="Deskripzioa" class="form-control" />
                <span asp-validation-for="Deskripzioa" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="Nabarmena" type="checkbox" />   @* Hau aldatu type checkbox jarrita *@
                <label asp-for="Nabarmena" class="control-label"></label>
                <span asp-validation-for="Nabarmena" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Alta eman" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Hasiera</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
