html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#searchForm {
    padding-top: 10%;
}

.bg-menua {
    background-color: #dddada !important;
}

.erlatiboa {
    position: relative;
}

.full-width.dropdown {
    position: static;
}

    .full-width.dropdown > .dropdown-menu {
        left: 0;
    }

        .full-width.dropdown > .dropdown-menu > li > a {
            white-space: normal;
        }

@media screen and (min-width:480px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

.padinaMenu {
    padding: 15px;
}

.borgona {
    color: #981212;
}

.nireMenua .active a,
.nireMenua .active a:hover {
    background-color: #981212;
}

.nireMenua > a {
    color: #777;
    text-decoration: none;
}

    .nireMenua > a:hover {
        color: #981212;
    }

.tachado {
    text-decoration: line-through;
}

.col-item .photo img {
    margin: 0 auto;
    /*width: 100%;*/
}

.col-item .irudia {
    height: 150px;
    width: auto;
}

.altuera {
    max-height: 100px;
}

.btn-borgona {
    background-color: #981212;
}

    .btn-borgona:hover {
        background-color: #f2c5c5;
        color: #FFF;
    }