@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
<head/>
<body>
    <header> ……….. </header>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/ardoa.jpg" />
                </div>
                <div class="col-md-6">
                    <form class="form-inline my-2 my-lg-0 float-right" id="searchForm">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted"/>
    </body>

