html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#searchForm {
    padding-top: 10%;
}
.bg-menua {
    background-color: white !important;
}

.erlatiboa {
    position: relative;
}

.full-width.dropdown {
    position: static;
}

    .full-width.dropdown > .dropdown-menu {
        left: 0;
    }

        .full-width.dropdown > .dropdown-menu > li > a {
            white-space: normal;
        }